.column-line {
  width: 1px;
  height: 30px;
  background-color: black;
}

.driver {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.driver span {
  padding: 10px;
}

.driver button {
  font-size: .8em;
}
